.butoon {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    text-decoration: none;
    background-color: #1f1c1c;
    color: #fff;
    border: 1px solid #1f1c1c;
    border-radius: 5px; 
    margin-top: 10px;
}

.butoon:hover {
    background-color: #030303;
    border-color: #000000;
}
.Ingreso {
    color: #1f1c1c;
    margin-top: 50px;
    text-align: center;
}

.Container{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(220, 231, 231, 0.2);
    width: 300px;
    margin: 150px auto; 
    text-align: center;
    margin-left: 50%;
    transform: translateX(-50%); 
}
body{
    background-image: url('/Imagenes/FondoLogin.jfif');
    background-size: cover; 
    height: 100vh; 
    margin: 0;
    background-color: #1f1c1c;
}
.input{
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-left: 10px;
}
.ImagenLogin{
    width: 330px;
    height: auto;
    float: right;
    margin-right: 20%;
    margin-top: 0px;
}